

table{
    margin-left: auto;
    margin-right: auto;
}

.person{
    margin: 0 2em;
}

h3 a{
    text-decoration:none;
}

h3 a:hover{
    text-decoration:underline;
}

.opacity{
    opacity:0.5;
}

.food a{
    text-decoration:none;
}
.food:hover{
    opacity:0.5;
    text-decoration:underline;

}

h1{
    font-family: "Karma", sans-serif;
    text-align:center;
}

h2{
    font-family: "Karma", sans-serif;

}

.mainImage{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1em;
    width:400px !important;
}

.mainImageWrapper{
    width:100%;
    display:flex;
    align-items:center;
}
           